<div>
  <button mat-raised-button color="primary" (click)="openCreateModal()">
    Add Record
  </button>
</div>
<ag-grid-angular
  style="height: 800px; @media screen and (max-height: 600px) {height: 200px}"
  class="ag-theme-quartz"
  [gridOptions]="gridOptions"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  [pagination]="true"
  [paginationPageSize]="50"
  [paginationPageSizeSelector]="[50, 100, 200]"
  [excelStyles]="excelStyles"
  (gridReady)="onGridReady($event)"
/>
<div class="export-controls">
  <div class="export-item" (click)="onCsvExport()">
    <mat-icon
      aria-hidden="false"
      aria-label="CSV download icon"
      fontIcon="download"
    ></mat-icon>
    <p>CSV</p>
  </div>
  <div class="export-item" (click)="logCurrentViewData()">
    <mat-icon
      aria-hidden="false"
      aria-label="Excel download icon"
      fontIcon="download"
    ></mat-icon>
    <p>Excel</p>
  </div>
  <button (click)="logCurrentViewData()">Log Current View Data</button>
</div>
